<footer>
  <div class="main">
    <div class="left">
      <div class="f-info-brand">&copy;2025 Airbnb, Inc.</div>
      <div class="f-info-links">
        <ul>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="terms.html">Terms</a></li>
          <li><a href="sitemap.html">Sitemap</a></li>
          <li><a href="company.html">Company details</a></li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="f-info">
        <div class="lan">
          <i class="fa-solid fa-language"></i>
          English(IN)
        </div>
        <a href="#">₹ INR</a>
      </div>
      <div class="f-info-socials">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
</footer>
